<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raspagem de Links</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<script>
    $(document).ready(function() {
        $('#links_table').DataTable();
    });
</script>

<body>
    <div class="container">
        <div class="menu">
            {% include 'menu.html' %}
        </div>

        <div class="conteudo">
            <div class="blocos">
                <div class="form-container">
                    <form method="post" action="{{ url_for('adicionar_site') }}">
                        <label for="novo_site">Adicionar novo site:</label>
                        <input type="text" id="novo_site" name="novo_site" placeholder="Digite o URL">
                        <button type="submit">Adicionar</button>
                    </form>
                    <form method="post" action="{{ url_for('remover_site') }}">
                        <label for="site_a_remover">Remover site:</label>
                        <select id="site_a_remover" name="site_a_remover">
                            {% for site in sites_pre_salvos %}
                                <option value="{{ site }}">{{ site }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit">Remover</button>
                    </form>
                    <form class="form-container" method="post">
                        <button type="submit">Raspar Links</button>
                    </form>
                </div>


                <!--Table antiga
                <div class="form-container-buscados">
                    <h1>Sites a serem buscados:</h1>
                    <ul>
                        {% for site in sites_pre_salvos %}
                            <h3><li><a href="{{ site }}">{{ site }}</li></a></h3>
                        {% endfor %}
                    </ul>
                </div> -->

                <!--Nova ta bela inicio-->
                <table id="links_table">
                    <thead>
                        <tr>
                            <th>URL</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for site in sites_pre_salvos %}
                        <tr>
                            <td><a href="{{ site }}" target="_blank">{{ site }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <!--Nova tabela fim-->
            </div>
            
        </div>
        
    </div>
    
</body>
</html>
