<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp">
    <title>Document</title>

<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/links">Links Salvos</a></li>
        <li><a href="/principais">Principais Links</a></li>
        <li><a href="/config">Configuração</a></li>
    </ul>
    

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var links = document.querySelectorAll('.sidebar a');
            var currentUrl = window.location.href;

            links.forEach(function(link) {
                if (link.href === currentUrl) {
                    link.classList.add('active');
                } else {
                    link.classList.remove('active');
                }
            });
        });
    </script>
</body>
</html>
