<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Links Salvos</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <script>
        $(document).ready(function() {
            $('#links_table').DataTable();
        });
    </script>

</head>

<body>
    <div class="container">
        <div class="menu">
            {% include 'menu.html' %}
        </div>

        <div class="conteudo">
            <div class="blocos">


                <!--Table antiga
                <div class="form-container-buscados">
                    <h1>Sites a serem buscados:</h1>
                    <ul>
                        {% for site in sites_pre_salvos %}
                            <h3><li><a href="{{ site }}">{{ site }}</li></a></h3>
                        {% endfor %}
                    </ul>
                </div> -->

                <!--Nova ta bela inicio-->
                <table id="links_table">
                    <thead>
                        <tr>
                            <th>URL</th>
                            <th>Data e Hora</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for link in links %}
                        <tr>
                            <td><a href="{{ link[1] }}" target="_blank">{{ link[1] }}</a></td>
                            <td>{{ link[2] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <!--Nova tabela fim-->
            </div>
            
        </div>
        
    </div>
    
</body>

</html>